html{
    font-size: 10px;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: aliceblue;
    color: black;
    margin: 0;
    padding: 2rem;
}

#titulo{
    color: green;

}

.parrafo{
    font-size: 1.6rem;
}

button{
    background-color: rgb(151, 233, 155);
    color: gray;
    border: none;
    padding: 1rem 2rem;
    margin:  0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover{
    background-color: rgb(77, 182, 74);
}

/*Clase para cambiar de color */

.cambiarColor{
    color: red;
}

.nuevaClase{
    background-color: aqua;
    color: white;
    padding: 2rem;
    border-radius: 0,5rem;
}

